In [7]:
#Dependencies
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as st
import numpy as np
from scipy.stats import linregress
from matplotlib.pyplot import figure

import requests
import json
from api_keys import g_key
import gmaps

In [8]:
income_data=pd.read_csv("median_income.csv")

In [9]:
income_data.head()

,GEO_ID,NAME,S1901_C01_001E,S1901_C01_001M,S1901_C01_002E,S1901_C01_002M,S1901_C01_003E,S1901_C01_003M,S1901_C01_004E,S1901_C01_004M,...,S1901_C04_012E,S1901_C04_012M,S1901_C04_013E,S1901_C04_013M,S1901_C04_014E,S1901_C04_014M,S1901_C04_015E,S1901_C04_015M,S1901_C04_016E,S1901_C04_016M
0,id,Geographic Area Name,Estimate!!Households!!Total,Margin of Error!!Households!!Total,"Estimate!!Households!!Total!!Less than $10,000",Margin of Error!!Households!!Total!!Less than ...,"Estimate!!Households!!Total!!$10,000 to $14,999","Margin of Error!!Households!!Total!!$10,000 to...","Estimate!!Households!!Total!!$15,000 to $24,999","Margin of Error!!Households!!Total!!$15,000 to...",...,Estimate!!Nonfamily households!!Median income ...,Margin of Error!!Nonfamily households!!Median ...,Estimate!!Nonfamily households!!Mean income (d...,Margin of Error!!Nonfamily households!!Mean in...,Estimate!!Nonfamily households!!PERCENT ALLOCA...,Margin of Error!!Nonfamily households!!PERCENT...,Estimate!!Nonfamily households!!PERCENT ALLOCA...,Margin of Error!!Nonfamily households!!PERCENT...,Estimate!!Nonfamily households!!PERCENT ALLOCA...,Margin of Error!!Nonfamily households!!PERCENT...
1,0500000US01003,"Baldwin County, Alabama",82325,3231,4.9,1.6,3.9,1.4,9.4,2.0,...,37494,5940,48871,5729,(X),(X),(X),(X),30.1,(X)
2,0500000US01015,"Calhoun County, Alabama",44636,2010,9.6,3.1,7.3,2.4,8.4,2.0,...,26143,3350,32609,4229,(X),(X),(X),(X),35.7,(X)
3,0500000US01043,"Cullman County, Alabama",32090,1233,4.4,1.5,5.4,2.2,11.0,2.8,...,22464,3132,28508,2622,(X),(X),(X),(X),37.1,(X)
4,0500000US01049,"DeKalb County, Alabama",24880,1347,7.2,2.8,8.4,3.8,15.6,3.5,...,21213,4028,36416,10258,(X),(X),(X),(X),36.0,(X)

In [10]:
inc_df=income_data[["NAME","S1901_C01_012E"]]

In [11]:
inc_df.head()

                      NAME                                 S1901_C01_012E
0     Geographic Area Name  Estimate!!Households!!Median income (dollars)
1  Baldwin County, Alabama                                          56439
2  Calhoun County, Alabama                                          48156
3  Cullman County, Alabama                                          50906
4   DeKalb County, Alabama                                          44208

In [12]:
inc_df.drop(0,inplace=True)

In [13]:
len(inc_df)

841

In [14]:
inc_df.head()

                      NAME S1901_C01_012E
1  Baldwin County, Alabama          56439
2  Calhoun County, Alabama          48156
3  Cullman County, Alabama          50906
4   DeKalb County, Alabama          44208
5   Elmore County, Alabama          61854

In [15]:
inc_df=inc_df.rename(columns={"NAME": "County", 
                   "S1901_C01_012E": "Median_Income"})

In [16]:
inc_df.head()

                    County Median_Income
1  Baldwin County, Alabama         56439
2  Calhoun County, Alabama         48156
3  Cullman County, Alabama         50906
4   DeKalb County, Alabama         44208
5   Elmore County, Alabama         61854

In [49]:
min(inc_df['Median_Income'].astype(float))

14525.0

In [17]:
for index, row in inc_df.iterrows():
    row['County']=row['County']+',USA'

In [18]:
base_url = "https://maps.googleapis.com/maps/api/geocode/json"
latitudes=[]
longitudes=[]
params = {"key": g_key}
income=[]

for index, row in inc_df.iterrows():
    address=row
    params['address'] = address
    try:
        my_geo = requests.get(base_url, params).json()
        lat = my_geo["results"][0]["geometry"]["location"]["lat"]
        lng = my_geo["results"][0]["geometry"]["location"]["lng"]

        latitudes.append(lat)

        longitudes.append(lng)
        
        income.append(row['Median_Income'])
    except:
        print(f"Error locating address: {address} ")

print("End of Loop")

End of Loop

In [51]:
income=inc_df['Median_Income'].astype(float)

county_inc=pd.DataFrame({"Lat": latitudes,
                           "Lng" :longitudes,
                         "Income": income
                      })

county_inc.head()

         Lat        Lng   Income
1  30.601074 -87.776333  56439.0
2  33.770158 -85.807660  48156.0
3  34.201154 -86.822034  50906.0
4  34.521140 -85.684578  44208.0
5  32.564708 -86.012157  61854.0

In [52]:
county_inc.to_csv("county_inc.csv")

In [53]:
all_addr=pd.read_csv("all_addr.csv")
all_addr.head()

   Unnamed: 0        Lat        Lng
0           0  34.221688 -86.160710
1           1  34.441975 -85.755014
2           2  33.310670 -85.485005
3           3  32.695544 -87.586908
4           4  34.720758 -86.574990

In [54]:
locations=all_addr[['Lat','Lng']]
locs=county_inc[['Lat','Lng']]
weights=county_inc['Income']

figure_layout = {
    'width': '800px',
    'height': '500px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}
gmaps.configure(api_key=g_key)
fig = gmaps.figure(layout=figure_layout)
#fig = gmaps.figure()

hosp_layer = gmaps.symbol_layer(
   locations, fill_color='rgba(0, 0, 150, 0.4)',
    stroke_color='rgba(0, 0, 150, 0.4)', scale=2

)

heat_layer = gmaps.heatmap_layer(locs, weights=weights, 
                                 dissipating=False, max_intensity=300000,
                                 point_radius = 1)
fig.add_layer(heat_layer)

fig.add_layer(hosp_layer)
plt.savefig("hospitals_inc.png")
fig

Figure(layout=FigureLayout(border='1px solid black', height='500px', margin='0 auto 0 auto', padding='1px', wiâ€¦